.page__container{
    p{
        font-weight: 400;
        font-size: 17.1258px;
        line-height: 30px;
    }
    input{
        padding: 20px;
        background: #FCFCFC;
        border: 1.61275px solid #EBEBEB;
        border-radius: 8.06373px;
    }
    h3{
        font-weight: 500;
        font-size: 28px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    &-tabs-content{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 45px;
        padding-top: 60px;
        display: flex;
        align-items: center;
        .personal-data, .story{
            cursor: pointer;
            width: 130px;
            height: 109px;
            background-color: white;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            img{
                height: 40px;
                width: auto;

            }
            a{
                margin-top: 5px;
                font-weight: 500;
                font-size: 14.2907px;
                line-height: 21px;
                color: #00AC4E;
            }
            
        }
        .personal-data{
            margin-right: 50px;
        }
        .active-class-tab-profile{
            border: 1px solid #00AC4E;
            box-shadow: 0px 0px 28.7827px rgba(0, 0, 0, 0.06);
        }
    }
    &-content-person{
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        @media(max-width:999px){
            flex-direction: column;
        }
        &-info{
            width: 45%;
            @media(max-width:999px){
                width: 90%;
                margin-bottom: 30px;
            }
            h3{
                font-weight: 500;
                font-size: 28px;
                line-height: 25px;
                margin-bottom: 30px;
            }
            .download{
                .download-file{
                    margin-bottom: 45px;
                    display: flex;
                    align-items: center;
                    .photo{
                        background: #00AC4E;
                        border-radius: 12px;
                        width: 75px;
                        height: 75px;
                        margin-right: 40px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    input{
                        display: none;
                    }
                    label{
                        &:hover{
                            text-decoration: underline;
                        }
                        color: #00AC4E;
                        cursor: pointer;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 32px;
                    }
                }
                .fio{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media(max-width:999px){
                        justify-content: flex-start;
                    }
                    @media(max-width:510px){
                        flex-direction: column;
                    }
                    .name{
                        margin-right: 5px;
                        @media(max-width:510px){
                            width: 100%;
                        }
                    }
                    .second-name{
                        @media(max-width:510px){
                            width: 100%;
                        }
                    }
                }
                .email{
                    p{
                        margin-top: 20px;
                    }
                    input{
                        width: 100%;
                    }
                }
            }
        }
        &-sidebar{
            width: 45%;
            @media(max-width:999px){
                width: 90%;
            }
            input{
                margin-bottom: 20px;
            }
            .phone{
                display: flex;
                justify-content: space-between;
                input{
                    margin: 0px 5px 10px ;
                }
                @media(max-width:999px){
                    justify-content: flex-start;
                }
                @media(max-width:510px){
                    flex-direction: column;
                }
            }
            .old-password, .new-password, .confirm-password{
                input{
                    width: 100%;
                }
            }
            button{
                padding: 15px 30px;
                background: #00AC4E;
                border-radius: 4.18415px;
                font-weight: 500;
                font-size: 11.7156px;
                line-height: 18px;
                color: #FFFFFF;
            }
        }
    }
    &-content-story{
        display: block;
        padding-bottom: 60px;
        .story-slider{
            display: flex;
            flex-direction: column-reverse;
            .story-block{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                margin-right: 2px;
                margin-left: 2px;
                background: #FFFFFF;
                box-shadow: 0px 0px 16.2899px rgba(0, 0, 0, 0.07);
                border-radius: 13.0319px;
                padding: 25px;
                width: 160%;
                @media(max-width:1300px){
                    width: 130%;
                }
                @media(max-width:1040px){
                    width: 110%;
                }
                @media(max-width:875px){
                    flex-direction: column; 
                    width: 170%;
                }
                @media(max-width:815px){
                    flex-direction: column; 
                    width: 140%;
                }
                @media(max-width:670px){
                    flex-direction: column; 
                    width: 120%;
                }
                @media(max-width:580px){
                    flex-direction: column; 
                    width: 100%;
                }

                &-info{
                    width: 40%;
                    @media(max-width:875px){
                        width: 100%;
                    }
                    b{
                        font-weight: 500;
                        font-size: 19.4096px;
                        line-height: 29px;
                        color: #000000;
                        margin-right: 10px;
                    }
                    span{
                        font-size: 19.4096px;
                        line-height: 29px;
                    }
                    .number{
                        span{
                            color: #00AC4E;
                        }
                    }
                    .completed{
                        span{
                            color: #00AC4E;
                        }
                    }
                    .fail{
                        span{
                            color: red;
                        }
                    }
                    .number, .pay, .data-order, .data-delivery, .status{
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                    }
                }
                &-sidebar{
                    width: 55%;
                    @media(max-width:875px){
                        width: 100%;
                    }
                    .product-slider{
                        border-bottom: 1px solid #EBEBEB;
                        &-block{
                            padding: 20px 0;
                            border-top: 1px solid #EBEBEB;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            @media(max-width:490px){
                                .name-product{
                                    font-size: 14px;
                                }
                            }
                            @media(max-width:375px){
                                .name-product{
                                    font-size: 10px;
                                }
                            }
                            
                            .photo-product{
                                width: 111px;
                                height: 82px;
                                background: #00AC4E;
                                border-radius: 5px;
                                display: flex;
                                overflow: hidden;
                                img{
                                    height: auto;
                                    width: 100%;
                                }
                                @media(max-width:474px){
                                    width: 100px;
                                    height: auto;
                                }
                                @media(max-width:400px){
                                    width: 80px;
                                    height: auto;
                                }
                                @media(max-width:375px){
                                    width: 70px;
                                    height: auto;
                                }
                            }
                            >span{
                                font-size: 18px;
                                line-height: 21px;
                            }
                            >.price{
                                span{
                                    font-weight: 500;
                                    font-size: 20px;
                                    line-height: 24px;
                                    @media(max-width:474px){
                                        font-size: 14px;
                                    }
                                    @media(max-width:375px){
                                        font-size: 10px;
                                    }

                                }
                                
                            }
                        }
                    }
                }
            }

        }
    }
}