.page-video{
    position: relative;
    margin-bottom: 60px;
    .video1440{
        margin: 0 auto;
        img{
            width: 100%;
        }
        .pause-overlay{
            position: absolute;
            transition: all 0.5s ease;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.65) url(../img/secondary-icons/pause-video.svg) 50% 50%/ 100px 100px no-repeat;
        }
    }
}
@media(max-width:400px){
    .page-video{
        margin-bottom: 20px;
        .video1440{
            .pause-overlay{
                background: rgba(0, 0, 0, 0.65) url(../img/secondary-icons/pause-video.svg) 50% 50%/ 70px 70px no-repeat;
            }
        }
    }
}