%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-arrow-bottom:before {
	content: "\e900";
	color: #e8aa31;
  }
  ._icon-arrow-top:before {
	content: "\e901";
	color: #e8aa31;
  }
  ._icon-basket:before {
	content: "\e902";
  }
  ._icon-call-footer:before {
	content: "\e903";
	color: #fff;
  }
  ._icon-email-footer:before {
	content: "\e904";
	color: #fff;
  }
  ._icon-face:before {
	content: "\e905";
	color: #fff;
  }
  ._icon-live:before {
	content: "\e906";
  }
  ._icon-loaction-footer:before {
	content: "\e907";
	color: #fff;
  }
  ._icon-location:before {
	content: "\e908";
  }
  ._icon-logo:before {
	content: "\e909";
  }
  ._icon-rub:before {
	content: "\e90a";
  }
  ._icon-scales:before {
	content: "\e90b";
  }
  ._icon-time-footer:before {
	content: "\e90c";
	color: #fff;
  }
