.dropdown-toggle::after{
    display: none;
}
a{
    text-decoration: none;
}
a{
    transition: all 0.5s ease;
    &:hover{
        opacity: 0.8;
    }
}

.active-class-checked{
    &:hover{
        color: white;
    }
    color: white;
    padding: 8px 16px;
    background: #00AC4E;
    border-radius: 5px;
    a{
        color: white;
        &:hover{
            color: white;
        }
    }
}
.product-rating{
    .rating-result {
        width: 265px;
        margin-bottom: 6px;
    }
    .rating-result span {
        padding: 0;
        margin: 0;
        font-size: 25px;
        line-height: 1;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }
    .rating-result > span:before {
        content: '★';
    }
    .rating-result > span.active {
        color: #00AC4E;
        text-shadow: 1px 1px #00AC4E;
    }
}

.none-content-tabs{
    display: none;
}
.active-class-tabs-green{
    a{
        color: #00AC4E;
    }
}
.price-kol{
    display: flex;
    width: 115px;
    height: 42px;
    background: #FCFCFC;
    border: 0.903636px solid #EBEBEB;
    border-radius: 9.03636px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    >span{
        padding: 0 10px;
        font-size: 12.6509px;
        line-height: 19px;
        color: #000000;
        @media(max-width:520px){
            padding: 0 5px;
        }
    }
    .btn-kol{
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover{
            background: #e7e5e5;
        }
    }
    &__prev{
        padding: 13px 15px 13px 25px;
        @media(max-width:520px){
            padding: 6px 6px 6px 8px;
        }
    }
    &__next{
        padding: 13px 25px 13px 15px;
        @media(max-width:520px){
            padding: 6px 8px 6px 6px;
        }
    }
    @media(max-width:520px){
        width: 100px;
        height: auto;
    }
    @media(max-width:420px){
        width: 80px;
        height: auto;
    }
}

@media(max-width:767px){
    header{
        width: 100%;
    }
    section, footer{
        width: 100%;
        overflow-x: hidden;
    }
}
.statusMessages{
    width: 200px;
    height: 30px;
    background: gray;
    position: fixed;
    bottom: 30px;
    left: 50%;
    font-size: 12px;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    text-align: center;
}